.greenText {
    color: #4eb642;
}
.subtitle {
    text-align: justify;
    text-transform: uppercase;
    font-size: 17.5pt;
    margin-bottom: 20px;
}
.paragraph {
    margin-bottom: 20px;
    text-align: justify;
}
